body{
    background-image: url(img/slider_img_201.jpg);
    width: 1366px;
    height: 800px;
}

.ico,.cenu,.hp1,.lupa,.content,.t,.f{
    position: absolute;
}

.ico{
    width: 185px;
    height: 22px;
    background-color: #212121;
    top: 40px;
    left: 40px;
}

.lupa{
    top: 45px;
    left: 1170px;
}

.cenu{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #212121;
    top: 15px;
    left: 670px;
}

.hp1{
    font-weight: 300;
    color: #8c8c8c;
}

.u2{
    left: 70px;
}

.u3{
    left: 180px;
}

.u4{
    left: 280px;
}

.u5{
    left: 410px;
}

.content{
    top: 330px;
    left: 40px
}

.t{
    font-family: Montserrat;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #43a047;
}

.f{
    font-family: Montserrat;
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
    width: 465px;
}